.backSearch{
    border: 0px;
}

.backStart{
    border: 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-height: 600px;
    overflow-y: auto;
    background-color: whitesmoke;
}

.album-wrapper{
    position: relative;
}

.album-cover{
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card{
    border: 1px;
    padding: 10px;
}
