<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
    <h1>Songs for U</h1>
    <h3>회원가입</h3>
    <form action="{{ url_for('signup') }}" method="post">
        <input type="text" name="userId" placeholder="ID" required><br>
        <input type="text" name="nickname" placeholder="닉네임" required><br>
        {% if error %}
        <div style="color: red;">{{ error }}</div>
        {% endif %}
        <input type="submit" value="가입하기">
        <a href="{{ url_for('login') }}">로그인으로 돌아가기</a>
    </form>
</body>
</html>
